{% extends "base.html.j2" %}

{% block heading %}Dashboard{% endblock %}

{% block content %}
    <!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column"">

        <!-- Main Content -->
        <div id="content">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
            <p class="alert-{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endwith %}

            <!-- panel -->
            <div class="panel panel-default">
                <div class="panel-heading" style="margin-bottom: 30px">
                <h3>
                Welcome to the Chamelogator dashboard!
                </h3>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->



            <div class="panel panel-default">

            <div id="loading">
            </div>

                <div class="panel-body">


                    <h5>Project Name Search</h5>
                    <div id="custom-search-input">
                        <div class="input-group" style="width: 500px">
                            <input type="text" class="search-query form-control" placeholder="Enter project name..." />
                            <span class="input-group-btn" id='searchbutton'>
                                <button class="btn btn-action border" type="button" id="search-button-id">
                                    <span class="fas fa-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>


                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- Main Content -->
   </div>
   <!-- /.Content Wrapper -->

   
    <script>
    
    var $ = function (selector) {
        return document.querySelector(selector);
    };

    var searchbutton = $('#searchbutton').getElementsByTagName('button');

    //function search_data() {
        
    //}

    searchbutton[0].addEventListener("click", function(){window.location = '/data'});
   
    </script>

{% endblock %}

{% block scripts %}


   <!-- DataTables JavaScript -->
   <script src={{url_for('static', filename="vendor/DataTables-1.10.25/js/jquery.dataTables.js")}}></script>
   {# <script src={{url_for('static', filename="vendor/datatables-plugins/dataTables.bootstrap.js")}}></script> #}
   <script src={{url_for('static', filename="vendor/Responsive-2.2.9/js/dataTables.responsive.js")}}></script>

{% endblock %}
