{% extends "base.html.j2" %}

{% block heading %}Data{% endblock %}

{% block content %}
    	<div class="col-lg-2">

    {% with messages = get_flashed_messages(with_categories=true) %}
		{% for category, message in messages %}
		<p class="alert-{{ category }}">{{ message }}</p>
		{% endfor %}
	{% endwith %}

        <div class="panel panel-default">
			<div class="panel-heading">
            Data Table
			</div>
        
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->



    <div class="col-lg-12">
        <div class="panel panel-default">

            <div id="loading"></div>

            {# <div class="panel-heading">
                DataTables Advanced Tables
            </div>
            <!-- /.panel-heading --> #}
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="data_table">
                <thead></thead>
                <tbody></tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
   </div>
   <!-- /.col-lg-12 -->



    <!-- jQuery -->
    <script src={{url_for('static', filename="vendor/jQuery-3.3.1/jquery-3.3.1.min.js")}}></script>
    <script>

    $(document).ready(function() {
        var table = null;

        var df = {{ cham_df }}

        df_keys = Object.keys(df)
        console.log(df_keys)
        df_vals = Object.values(df)
        console.log(df_vals)

        df_vals.forEach((element, index, array) => {
                console.log(element);
        });

        $('a#calculate').bind('click', function() {
            $.getJSON('/_get_table', {
            cols: df_keys.length,
            rows: $('input[name="b"]').val()
            }, function(data) {
                $("#elements").text(data.number_elements);
                if (table !== null) {
                    table.destroy();
                    table = null;
                    $("#a_nice_table").empty();
                }
                table = $("#a_nice_table").DataTable({
                    data: data.my_table,
                    columns: data.columns
                });
            });
            return false;
        });
    });
    </script>
   

{% endblock %}

{% block scripts %}


   <!-- DataTables JavaScript -->
   <script src={{url_for('static', filename="vendor/DataTables-1.10.25/js/jquery.dataTables.js")}}></script>
   {# <script src={{url_for('static', filename="vendor/datatables-plugins/dataTables.bootstrap.js")}}></script> #}
   <script src={{url_for('static', filename="vendor/Responsive-2.2.9/js/dataTables.responsive.js")}}></script>

   <!-- Page-Level Demo Scripts - Tables - Use for reference -->
   {# <script>
   $(document).ready(function() {
        $('#data_table').DataTable({
            //responsive: true
        });
   });
   </script> #}

{% endblock %}
