{% extends "base.html.j2" %}

{% block heading %}Trends{% endblock %}

{% block content %}
    <!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column"">

        <!-- Main Content -->
        <div id="content">


        <h1 class="h3 mb-2 text-gray-800 fadeIn">Trends Page</h1>
        
        <p class="mb-4 fadeIn">This is the placeholder home page for the trends page.</p>


        <div class="d-flex">
            <div class="card shadow fadeIn_slow mb-4">
                <div class="card-header d-flex flex-row align-items-center justify-content-between py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Plot</h6>
                    {# <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item active" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div> #}
                    <div class="dropdown no-arrow">
                        <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-primary-muted"></i>
                        </button>
                        <div class="dropdown-menu animated--fade-in_stay" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Options</div>
                            <a id="save_png" class="dropdown-item" href="javascript:void();">Save PNG</a>
                            <div class="dropdown-divider"></div>
                            <a id="export_data" class="dropdown-item">Export Data</a>
                            <a id="import_data" class="dropdown-item disabled">Import Data</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div id="selects" class="d-flex justify-content-center">
                        {# <select> tags go here #}
                    </div>

                    {# <img src="data:image/png;base64, {{ plot_url }}"> #}
                    <canvas id="myChart" class="d-flex h-300 w-200"></canvas>


                </div>
                <!-- /.panel-body -->

            </div>
            <!-- Main Content -->
        </div>
   </div>
   <!-- /.Content Wrapper -->

    <!-- jQuery -->
    <script src={{url_for('static', filename="vendor/jQuery-3.3.1/jquery-3.3.1.min.js")}}></script>
    <!-- charts.js -->
    <script src={{url_for('static', filename="vendor/chart.js-3.4.1/package/dist/chart.min.js")}}></script>
    
    
    <script src={{url_for('static', filename="js/trends.js")}} type="text/javascript"></script>


{% endblock %}