{% extends "base.html.j2" %}

{% block heading %}Trends{% endblock %}

{% block content %}
    <!-- Content Wrapper -->
	<div id="content-wrapper" class="d-flex flex-column"">

        <!-- Main Content -->
        <div id="content">


        <h1 class="h3 mb-2 text-gray-800 fadeIn">Trends Page</h1>
        
        <p class="mb-4 fadeIn">This is the placeholder home page for the trends page.</p>



        <div class="card shadow fadeIn_slower mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">UNDER CONSTRUCTION</h6>
            </div>
            <div class="card-body">

                <div id="dropdowns" class="d-flex justify-content-center">
                    {# <select> tags go here #}
                </div>

                {# <img src="data:image/png;base64, {{ plot_url }}"> #}
                <canvas id="myChart" style="display: block; box-sizing: border-box; height: 384px; width: 768px;" width="768" height="384"></canvas>


            </div>
            <!-- /.panel-body -->

        </div>
        <!-- Main Content -->

   </div>
   <!-- /.Content Wrapper -->

    <!-- jQuery -->
    <script src={{url_for('static', filename="vendor/jQuery-3.3.1/jquery-3.3.1.min.js")}}></script>
    <!-- charts.js -->
    <script src={{url_for('static', filename="vendor/chart.js-3.4.1/package/dist/chart.min.js")}}></script>
    
    
    <script>
        var df = {{ cham_df }}
    </script>
    <script src={{url_for('static', filename="js/trends.js")}} type="text/javascript"></script>


{% endblock %}